
@{
    ViewData["Title"] = "Show";
}

<h1>Show</h1>


<p>

    adim : @ViewBag.adim



</p>

<p>p1: @ViewBag.Product1.ToString() </p>
<p
   >p2: @ViewBag.Product2 </p>

<p>
  p3:  @ViewBag.Product3
</p>

